@import 'colors';

//Mixin
@mixin btn($bg, $color) {
    background-color: $bg;
    color: $color;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    width: 7em;
    height: 2.5em;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5em 2em;
}

//Global
* {
    color: $olive-dark;
    font-size: 1.2rem;
}

.container {
    background-color: $yellow;
    border: 1px solid #000;
    display: flex;
    height: 500px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1em;
    width: 50%;

    .left {
        background-color: $white;
        height: 100%;
        width: 69%;
        position: relative;
    }

    .right {
        background-color: $olive-mid;
        height: 100%;
        position: relative;
        width: 29%;

        .button {
            @include btn($lime, $olive-dark);

            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -120%);
        }
    }
}
